*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:"Arial", sans-serif;
    

}
.about{
    background-color:#f8f8f8 ;
    overflow: hidden;
}
.heading h1{
    color: #ff0080;
    font-size: 55px;
    text-align: center;
    margin-top: 35px;

}
.container{
    display: flex;
    justify-content:center ;
    align-items: center;
    width: 90%;
    margin: 65px auto;
    background-color: rgb(49, 199, 250);
}
.hero-content{
    flex: 1;
    width: 600px;
    margin: 0px 25px;
    animation: fadeInUp 2s ease;
    background-color: rgb(250, 214, 237);
    padding: 35px ;

}
.hero-content h2{
    font-size: 38px;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}
.hero-content p{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #666;

}
.hero-content button{
    display: inline-block;
    background-color: #ff0080;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.hero-content button:hover{
    background-color:rgb(49, 199, 250);
    transform: scale(1.105);
}
.hero-img{
    flex: 1;
    width: 600px;
    margin: auto;
        animation: fadeInRight 2s ease;

}
img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
@media screen and (max-width:768px) {
    .heading h1{
        font-size: 45px;
        margin-top: 30px;
    }
    .hero{
        margin: 0px;
    }
    .container{
        width: 100px;
        flex-direction: column;
        margin: 0px;
        padding: 0px 40px;
    }
    .hero-content{
        width: 100%;
        margin: 35px 0px;
    }
    .hero-content h2{
        font-size: 30px;
    }
    .hero-content p{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .hero-content button{
        font-size:16px ;
        padding: 8px 16px;
    }
    .hero-img{
        width: 100%;

    }

}
@keyframes fadeInUp{
    0%
{
    opacity: 0;
    transform: translateY(50px);
}
  100%{
    opacity: 1;
    transform: translateY(0px);
}
}
@keyframes fadeInRight{
    0%
{
    opacity: 0;
    transform: translateX(-50px);
}
  100%{
    opacity: 1;
    transform: translateY(0px);
}
}